__pycache__/
*.pyc
*.pyo
.env
venv/
.vscode/
data/
models/
*.mp3
*.mp4
*.wav
*.pkl
*.npz
.DS_Store


collect_code.py
combined_code.txt
src/collect_code_1.py
src/combined_code.txt
результаты_итер_3.txt

research/data/data_iter_1/
research/data/data_iter_2/
iter_1/
iter_2/

preprocessing_module/collect_code.py
preprocessing_module/combined_code.txt

research/collect_code.py
research/combined_code.txt

research/iter_1/
research/iter_2/


research/data/boundary_data.npz
research/data/rutextseg_processed.json
research/результаты_итер_3.txt
research/requirements.txt

research_bc/

.gitignore/

readme.txt